@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Montserrat:ital,wght@1,900&family=Nunito:wght@400;500&family=Sumana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/*
        For Headers And Stuff
    font-family: 'Libre Franklin', sans-serif;  (400-700)

        For subHeaders
    font-family: 'Nunito', sans-serif;  (400-500)

        For Texts
    font-family: 'Sumana', serif;   (400-700)

        For Brand
    font-family: 'Montserrat', sans-serif;

*/

