@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin:0;
  padding:0;
  box-sizing: border-box;


  /*  VARIABLES  */
  --accent-ligt : #f6eee3;
  --accent-dark : #f6c48a;
  --black : #010000;
  --red : #a62123;
}

a{
  text-decoration: none;
  color: inherit;
}